/* .App {
  margin-left: 10%;
  margin-right: 10%; 
} */
.btnComapre {
  margin-top: 0.5%;
  margin-left: 72%;
}
.btnAddCmp {
  float:right;
}
.media-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* .media-car:hover{
  background-color: lightblue;
  opacity: 0.6;
} */
.img-thumbnail:hover {
  cursor: pointer;
}
.search-bar{
  background-color: whitesmokes
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
